body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado fijo */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    padding: 10px 0; /* Espacio para la barra de búsqueda */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Opcional, sombra sutil */
}

/* Contenedor del encabezado */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Ajusta el padding si es necesario */
}

/* Barra de búsqueda */
.search-bar {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Sección de categorías */
.categories {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.categories a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}
section {
    padding: 50px;
    margin: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

/* Barra de progreso */
.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
}

/* Asegúrate de que el contenedor de productos tiene una clase adecuada */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 80px; /* Espacio para el encabezado fijo y la barra de progreso */
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product {
    display: block;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product img {
    max-width: 100px;
    margin-right: 20px;
}

.product h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.product p {
    margin: 5px 0 0;
    color: #666;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    .product {
        flex-direction: column;
        text-align: center;
    }

    .product img {
        margin-bottom: 10px;
    }
}

#product-details {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: 20px;
}

#product-details.show {
    display: block;
    opacity: 1;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
